*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    width: 150px;
    outline: none;
    border: none;
    cursor: pointer;
}