.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.textContainer{
    width: 500px;
    margin: 0 20px;
}

.homeContainer .textContainer .iconsContainer{
    display: flex;
    gap: 10px;
    font-size: 22px;
    margin-top: 15px;
}

.homeContainer .textContainer p{
    margin: 25px 0;
    font-size: 16px;
}
