.user-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container td a{
    color: #000000;
    padding: 0 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #707a88;
    background-color: #f9fafc;
    font-weight: 600;
}

th:first-child,
td:first-child {
    border-left: none;
}

th:last-child,
td:last-child {
    border-right: none;
}

.deleteBtn{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
    }
}
